<html>
<head>
	<link href="css/bootstrap.css" rel="stylesheet"/>
<style type="html/css">
body {
    width: 200px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
</style>
</head>
<body>
<div>
	<h1>Category</h1>
	<ul class="nav nav-pills nav-stacked">
		<li class="active"><a href="#">Parts of Speech</a></li>
		<li><a href="#">Direct Indirect Speech</a></li>
		<li><a href="#">Verb Agreement</a></li>
	</ul>
</div>
</body>
</html>