{% extends "base.html" %}
{% from "__Question.html" import render_question%}
{% block content %}
{#<div class="layer1">#}
{#	<ul class="pagination">#}
{#		<li class="disabled"><a href="#">&laquo;</a></li>#}
{#		<li class="active"><a href="#">1</a></li>#}
{#		<li><a href="#">2</a></li>#}
{#		<li><a href="#">3</a></li>#}
{#		<li><a href="#">4</a></li>#}
{#		<li><a href="#">5</a></li>#}
{#		<li><a href="#">&raquo;</a></li>#}
{#	</ul>#}
{#</div>#}
{{ render_question(question) }}
<div class="navigation">
<ul class="pager">
{#  <li class="previous"><a href="#">&larr; Previous</a></li>#}

  <li class="next"><a href="#">Next &rarr;</a></li>
</ul>
</div>
{% endblock %}