{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}
{% from "_captcha.html" import render_captchafield %}
{% from "_selectabel_dropdown.html" import render_select_field %}

{% block content %}




    <body xmlns="http://www.w3.org/1999/html">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
			  <br>

                <form method="post" action="{{ url_for('Register') }}" enctype="multipart/form-data">
                {{ form.csrf_token}}

                  <div class="form-group">

						<input type="text" class="form-control" name="Name" placeholder="Name">
						{{ render_field(form.Name) }}


					</div>

                 <div class="form-group">
						<input type="text" class="form-control" name="Email" placeholder="Email">
						{{ render_field(form.Email) }}


					</div>



                    <div class="form-group">

						<input type="text" class="form-control" name="User_Id" placeholder="User Id">
						{{ render_field(form.User_Id) }}


					</div>
                <div class="form-group">
                    {{ render_select_field(schools) }}
                </div>


                    <div class="form-group">

						<input type="text" class="form-control" name="Password" placeholder="Password">
						{{ render_field(form.Password) }}

					</div>

					<div class="form-group">
						<input type="text" class="form-control" name="Confirm" placeholder="Confirm Password">
						{{ render_field(form.Confirm) }}
					</div>
                    <div class="form-group">
                    <p><input type=file name=file class="btn btn-info">

                    </div>
{#                     {{ render_captchafield(cap_img) }}#}
{#					{% if error %}#}
{##}
{#						 <div class="alert alert-danger" role="alert"><li>{{ error }}</li></div>#}
{##}
{#					{% endif %}#}


					<button type="submit"  value=Register class="btn pull-right">Submit</button>
				</form>
			</div>
			<div class="col-md-4">


            </div>
		</div>



	</body>

{% endblock %}
